# Django
Django==3.2
django-debug-toolbar==1.9.0
python-dotenv==0.20.0

# Typing
mypy==0.961
django-stubs==1.12.0
djangorestframework-stubs==1.7.0

# API
djangorestframework==3.12.4

# Postgres
psycopg2==2.9.1

# Tests
pytest~=4.6.3
pytest-django~=3.5.0
pytest-cov~=2.7.0
